<div class="container container-fluid nn">
    <div class="col-lg-12, col-md-12, col-sm-12, col-xs-12, border">
        <image src="img/trapiche.png" class="logo"/>
        TRAPICHE BIOBANDO S.A.S
    </div>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="barra"><a href="#!/">Inicio <image src="img/home-icon-silhouette(1).png"/></a></li>
                    <li class="barra"><a href="#!/nosotros">Quienes Somos? <image src="img/businessman.png"/></a></li>
                    <li class="barra"><a href="#!/producto">Nuestros Productos <image src="img/producto.png"/></a></li>
                    <li class="barra"><a href="#!/video">Videos <image src="img/youtube.png"/></a></li>
                    <li class="barra"><a href="#!/contacto">Contactanos <image src="img/contacto.png"/></a></li>
                    <li class="dropdown">
                </ul>
            </div>
        </div>
    </nav>
    <!-------------------------------------------------------formulario para llenar------------------------------------------------------------------>
    <div class="delfor">
        <form ng-submit="submitAgregarContacto()">
            <div class="formulario col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <!--            <div class="alert alert-success" ng-show="ContactoRegistrado">
                                <center>Mensaje Enviado Con Exito</center>
                            </div>-->
                <div class="input-group form">
                    <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                    <input ng-model="dataRegistrarContacto.nombre" type="text" class="form-control" aria-label="..." placeholder="Nombres y Apellidos" required>
                </div>
                <div class="input-group form">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    <input ng-model="dataRegistrarContacto.correo" type="email" class="form-control" aria-label="..." placeholder="Correo" required>
                </div>  
                <div class="input-group form">
                    <span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
                    <input ng-model="dataRegistrarContacto.telefono" type="number" class="form-control" aria-label="..." placeholder="Teléfono" required>
                </div>
                <div class="input-group form">
                    <span class="input-group-addon"><i class="fa fa-text-height"></i></span>
                    <textarea ng-model="dataRegistrarContacto.mensaje" type="text" class="form-control" rows="6" placeholder="Mensaje*" required></textarea>
                </div>
                <button type="submit" class="btn btn-default boton">Enviar</button>
            </div>
        </form>
    </div>

    <!---------------------------------------------------------------------------------------------------------------------------------------------->
    <!-------------------------------------datos de la empresa-------------------------------------------------------------------------------------->
    <div class="delim">
        <div class="datosE col-lg-4 col-md-4 col-sm-8 col-xs-10"><h3>Datos de la Empresa</h3><br>
            <div class="input-group form1">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="text" class="form-control" aria-label="..." placeholder="Teléfono +57 (2)214 16 03" disabled>
            </div>
            <div class="input-group form1">
                <span class="input-group-addon"><i class="fa fa-mobile"></i>&nbsp;&nbsp</span>
                <input type="text" class="form-control" aria-label="..." placeholder="Celular: +57 (318)708 09 95" disabled>
            </div>
            <div class="input-group form1">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control" aria-label="..." placeholder="Correo: biobando@hotmail.com" disabled>
            </div>
            <div class="input-group form1">
                <span class="input-group-addon"><i class="fa fa-industry"></i></span>
                <input type="text" class="form-control" aria-label="..." placeholder="Fabrica: Km 7 vía Obando-Molina. Vereda el Pleito" disabled>
            </div>
            <div class="input-group form1">
                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                <input type="text" class="form-control" aria-label="..." placeholder="Oficina: Calle 13 Nº 4-69 Peatonal el Virrey, Cartago Valle" disabled>
            </div>
        </div>
    </div>
</div>
