<div class="container container-fluid nn">
    <div class="col-lg-12, col-md-12, col-sm-12, col-xs-12, border">
        <image src="img/trapiche.png" class="logo"/>
        TRAPICHE BIOBANDO S.A.S
    </div>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="barra"><a href="#!/">Inicio <image src="img/home-icon-silhouette(1).png"/></a></li>
                    <li class="barra"><a href="#!/nosotros">Quienes Somos? <image src="img/businessman.png"/></a></li>
                    <li class="barra"><a href="#!/producto">Nuestros Productos <image src="img/producto.png"/></a></li>
                    <li class="barra"><a href="#!/video">Videos <image src="img/youtube.png"/></a></li>
                    <li class="barra"><a href="#!/contacto">Contactanos <image src="img/contacto.png"/></a></li>
                    <li class="dropdown">
                </ul>
            </div>
        </div>
    </nav>
    <!---------------------------------------------------------------------------------------------------------------------------------------->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 somos">
        <a href="#!/nosotros"><button type="button" class="btn btn-default btn-block btn-lg ti">
                Nuestra Historia
            </button></a>
        <a href="#!/mision"><button type="button" class="btn btn-default btn-block btn-lg ti">
                Misión
            </button></a>
        <a href="#!/vision"><button type="button" class="btn btn-default btn-block btn-lg ti">
                Visión 
            </button></a>
        <a href="#!/politicalidad"><button type="button" class="btn btn-default btn-block btn-lg active ti">
                Políticas de calidad
            </button></a>
        <a href="#!/objetivoscalidad"><button type="button" class="btn btn-default btn-block btn-lg ti">
                Objetivos de Calidad
            </button></a>
        <a href="#!/filosofiaempresarial"><button type="button" class="btn btn-default btn-block btn-lg ti">
                Filosofía Empresarial
            </button></a>
    </div>

    <div class="descrip col-lg-8 col-md-6 col-sm-12 col-xs-12"><br><br><br>
        <p class="texto">Generamos satisfacción total a todos nuestros clientes
            a través de un Sistema de Gestión de Calidad e Inocuidad, donde la
            capacitación de nuestro recurso humano es dinámica y continua,
            motivándolo en el propósito de elaborar un producto de óptima calidad
            cumpliendo permanentemente con los estándares de calidad en cada uno
            de nuestros procesos productivos.</p><br><br><br>
    </div>
    <div><br><br><br><br></div>
    <div><br><br><br><br></div>
    <div><br><br><br><br></div>
    <div><br><br><br><br></div>
    <div><br><br><br><br></div>
</div>
