<div class="container container-fluid nn">
    <div class="col-lg-12, col-md-12, col-sm-12, col-xs-12, border">
        <image src="img/trapiche.png" class="logo"/>
        TRAPICHE BIOBANDO S.A.S
    </div>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="barra"><a href="#!/">Inicio <image src="img/home-icon-silhouette(1).png"/></a></li>
                    <li class="barra"><a href="#!/nosotros">Quienes Somos? <image src="img/businessman.png"/></a></li>
                    <li class="barra"><a href="#!/producto">Nuestros Productos <image src="img/producto.png"/></a></li>
                    <li class="barra"><a href="#!/video">Videos <image src="img/youtube.png"/></a></li>
                    <li class="barra"><a href="#!/contacto">Contactanos <image src="img/contacto.png"/></a></li>
                    <li class="dropdown">
                </ul>
            </div>
        </div>
    </nav>
    <!----------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="video col-lg-12">
        <video src="img/caña.mp4" class="src" autoplay muted loop controls></video>
    <button class="btn btn-default botones">Extraer caña</button>
        <button class="btn btn-default botones">Extraer caña</button>
        <button class="btn btn-default botones">Extraer caña</button>
    </div>
</div>
