/*------------------------------inicio-----------------------------------*/
.border{
    background: #fff530;
    font-family: cursive;
    font-size: 20px;
    height: 70px;
    margin: auto;
}
.logo{
    width: 60px;
    height: 60px;
}
.n1{
    background: #999999;
}
.nn{
    background-image: url(../img/caña.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    /*width: 100%;*/
    /*height: 100%;*/
}
.barra{
    margin-left: 50px;
}

/*------------------------------contacto-----------------------------------*/
.formulario{/*Centramos el vídeo */
    margin-top: 30px;
    margin-right: 6%;
}
.datosE{
    /*width:560px;     Ancho máximo */
    /*margin:auto;     Centramos el vídeo */
    margin-top: 10px;
    /*width: 48%;*/
    /*margin-left: 90px;*/
}
.datoempresa{
    color: #ffffff;
}
.boton{
    margin-left: 80%;
    margin-top: 8px;
}
.form{
    margin-top: 6px;
}
.form1{
    margin-top: 2px;
}
.delim{
    width:150%;    /* Ancho máximo */
    margin:auto;    /* Centramos el vídeo */
}
.delfor{
    width:100%;    /* Ancho máximo */
    margin:auto;    /* Centramos el vídeo */
}
/*-----------------------------Quienes somos-----------------------------*/
.somos{
    width: 30%;
    
    /*margin-right: 40px;*/
    /*margin-top: 10px;*/
}
.descrip{
    background-color: #ffffff;
    margin-top: 20px;
    width: 60%; 
    border: 2px solid;
    webkit-box-shadow: -6px 17px 56px 0px rgba(0,0,0,0.75);
    moz-box-shadow: -6px 17px 56px 0px rgba(0,0,0,0.75);
    box-shadow: -6px 17px 56px 0px rgba(0,0,0,0.75);

}
.texto{
    font-size: 18px;
    text-align: justify;
}
.delisomos{
    
    width:100%;    /* Ancho máximo */
    margin:auto; 
}
.textolista{
    font-size: 17px;
    text-align: justify;
}
.ti{
    text-decoration: none;
    margin-top: 5px;
    border­radius: 200px;
    overflow: hidden;
}
/*----------------------------------videos------------------------------------------*/
.video{
    background-color: #ffffff;
    webkit-box-shadow: -6px 17px 56px 0px rgba(0,0,0,0.75);
    moz-box-shadow: -6px 17px 56px 0px rgba(0,0,0,0.75);
    box-shadow: -6px 17px 56px 0px rgba(0,0,0,0.75);
    border: 2px solid;
    height:0px;
    width:100%;
    padding-top:56.25%; /* Relación: 16/9 = 56.25% */
    position:relative;
}
.delimitador{
    width:560px;    /* Ancho máximo */
    margin:auto;    /* Centramos el vídeo */
}
.botones{
    margin-left: 36px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.src{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}
/*---------------------------------producto-------------------------------------------*/




